@charset "utf-8";
@import url('../../../css/swiper.css');

.ban-basic			{ position: relative; opacity: 1; }

.ban-basic .slides li img	{ width: 100%; }

.ban-basic .flex-direction-nav a	{
	display: block;
	position: absolute;
	top: 50%;
	margin-top: -20px;
	overflow: hidden;
	width: 40px;
	height: 40px;
	text-indent: -999px;
	background: rgba(0, 0, 0, 0.5);
	z-index: 5;
}
.ban-basic .flex-direction-nav a:before	{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	text-indent: 0;
	text-align: center;
	line-height: 40px;
	color: #fff;
	font-size: 15px;
	font-family: 'icon';
}

.ban-basic .flex-prev			{ left: 0; }
.ban-basic .flex-prev:before	{ content: "\ea38"; }
.ban-basic .flex-next			{ right: 0; }
.ban-basic .flex-next:before	{ content: "\ea34"; }

.ban-basic .flex-control-paging	{
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 10px;
	z-index: 5;
	text-align: center;
	padding: 0;
}
.ban-basic .flex-control-paging li	{ display: inline-block; margin: 3px; }
.ban-basic .flex-control-paging a	{
	display: block;
	position: relative;
	width: 15px;
	height: 15px;
	overflow: hidden;
	text-indent: -999px;
	border-radius: 100%;
}