@charset "utf-8";
/* -----------------------------------------------
	* 커플란 스타일 정의
--------------------------------------------------
	- 최초 작성일 : 2021.08.15
	- 최초 작성자 : 아보카도
	- 최종 수정일 : 
	- 최종 수정자 : 
--------------------------------------------------*/

#couple_page { position: relative; padding: 50px 0; }
#couple_list { text-align: center; }
#couple_list li { display: block; padding-bottom: 50px; }
