@charset "utf-8";
/* -----------------------------------------------
	* 자비란 이모티콘 스타일 정의
--------------------------------------------------
	- 최초 작성일 : 2021.08.15
	- 최초 작성자 : 아보카도
	- 최종 수정일 : 
	- 최종 수정자 : 
--------------------------------------------------*/


#emoticon_page {position:relative; padding:20px; margin:0 auto; box-sizing:border-box;}
#emoticon_page:after {content:""; display:block; clear:both;}

#page_title {display:block; font-size:18px; padding:10px 0; text-align:center;}
#page_title li {display:inline-block;}
#page_title li a {line-height:55px; font-size:18px; padding:0 20px;}


/*********************************
	반응형 처리
**********************************/

@media all and (max-width:670px) {
	.fix-layout {padding:0;}
	#page_title li a {font-size:14px; padding:0 10px; line-height:40px;}
	#lnb_mark {width:70px;}

}
@media all and (max-width:670px) {
	#emoticon_page:before {left:10px; right:10px;}
}


/*********************************
	리스트
**********************************/

#emoticon_content {position:relative; text-align:center;}
#emoticon_content .no-data {text-align:center; width:100%; line-height:100px;}
#emoticon_content li {display:inline-block; position:relative; width:80px;}
#emoticon_content li em {display:block; position:relative; width:80px; height:80px; vertical-align:middle; background:rgba(0, 0, 0, 0.3); border-radius:10px; overflow:hidden;}
#emoticon_content li em:before {content:""; display:inline-block; vertical-align:middle; width:0; height:100%;}
#emoticon_content li em img {display:inline-block; vertical-align:middle; max-width:95%;}
#emoticon_content li span {display:block; padding:5px 0 10px 0; font-size:12px;}